# This works for both 300 and 400 and i can make modules for any other printers as well now. 
# 1. find you mcu id or pull from a previous printer.cfg. you can use the ls /dev/serial/by-id/* command to get it. 
# 2. Enter the mcu id on the line below this replacing the example serial
[mcu]
serial:/dev/serial/by-id/usb-Klipper_sam4e8e_00323053354141543133303237303231-if00



[mcu rpi]
serial: /tmp/klipper_host_mcu



# 3. If using a toolboard with canbus then uncomment the section below and use the uuid for canbus or the serial for usb connection. "it helps to identify which board is which  by unplugging the other mcu if using multiple usb connections"

#[mcu head0]
#canbus_uuid=8e774621ca4e
#serial:
 
# 4. Select what features you would like. The sections with a # at the end are a mandatory choice of one out of the group

###### MACROS
#[include components/webui_macros300.cfg]   #choose your bed size and comment out the other    #####
[include components/webui_macros400.cfg]                                                      


###### FRAME AND BED
#[include components/troodon/300.cfg]  #choose your bed and setup if modded size and comment out the other      ######
#[include components/troodon/300a3dp,optendstops]
#[include components/troodon/300a3dpmod.cfg.cfg]
#[include components/troodon/300a3dp,omc,optendstops.cfg]
[include components/troodon/400.cfg]
#[include components/troodon/400Tm3dmod.cfg]
#[include components/troodon/400a3dpmod.cfg]


###### EXTRUDER MOTOR
#[include components/troodon/ddestock0504motor.cfg]###LDO Newer frmbot kit up until fall 2021
[include components/troodon/ddestock100417mm.cfg]####LDO Original up until winter 2020
#[include components/troodon/ddestock100420mm.cfg]####LDO newest orbiter kit unless moons
#[include components/troodon/ddemoonsmotor.cfg]#### newest orbiter kit with moons

###### THERMISTOR
#[include components/troodon/slice450.cfg]
[include components/troodon/stockthermistor.cfg]
#[include components/troodon/pt1000.cfg]
#[include components/troodon/dyze500.cfg]


####### FANS AND LEDS
#[include components/troodon/quietfansandledschamber.cfg]
[include components/troodon/fansandleds.cfg]  
#[include components/troodon/fansandledschamber.cfg] 


#######Bed MESH
#[include components/troodon/standardmesh300.cfg]
[include components/troodon/standardmesh400.cfg]
#[include components/troodon/highresmesh300.cfg]
#[include components/troodon/highresmesh400.cfg]


####### RUNOUT SENSOR
[include components/filamentrunout.cfg]


####### TIMELAPSE
[include components/timelapse.cfg]
#[include timelapse.cfg] ###if mainsail version shows timelapse on shortcuts aka 2.1b3 or newer than use this and comment out the one above



# This file contains common pin mappings for MKS Robin Nano (v1.2.004)
# boards. To use this config, the firmware should be compiled for the
# STM32F103. When running "make menuconfig", enable "extra low-level
# configuration setup", select the 28KiB bootloader, disable "USB for
# communication", and select USART3 for the "Serial Port".

# Note that the "make flash" command does not work with MKS Robin
# boards. After running "make", run the following command:
#   ./scripts/update_mks_robin.py out/klipper.bin out/Robin_nano.bin
# Copy the file out/Robin_nano.bin to an SD card and then restart the
# printer with that SD card.
[input_shaper]
shaper_freq_x: 60
shaper_freq_y: 48.5
shaper_type: mzv

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.350
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.283125, -0.253750, -0.271250, -0.250625, -0.247500, -0.258125, -0.285625, -0.297500, -0.329375, -0.387500
#*# 	  -0.173750, -0.162500, -0.166875, -0.158125, -0.152500, -0.160000, -0.175625, -0.186875, -0.225625, -0.278750
#*# 	  -0.095625, -0.093750, -0.109375, -0.107500, -0.091250, -0.089375, -0.089375, -0.108125, -0.141250, -0.190625
#*# 	  -0.030000, -0.034375, -0.050625, -0.058750, -0.046250, -0.038750, -0.043125, -0.050000, -0.066250, -0.119375
#*# 	  0.021875, 0.010625, -0.013750, -0.020625, -0.013125, -0.007500, -0.005625, -0.000000, -0.022500, -0.073125
#*# 	  0.036875, 0.021250, -0.000625, -0.004375, 0.010000, 0.010000, 0.013750, 0.006875, -0.001875, -0.040625
#*# 	  0.023750, 0.005000, -0.018750, -0.041875, -0.015000, 0.000625, -0.003750, -0.010625, -0.007500, -0.046875
#*# 	  0.010000, -0.012500, -0.048750, -0.059375, -0.048125, -0.044375, -0.046875, -0.040625, -0.055000, -0.081250
#*# 	  -0.044375, -0.060625, -0.087500, -0.106875, -0.091875, -0.088125, -0.098750, -0.094375, -0.110625, -0.141250
#*# 	  -0.118125, -0.138750, -0.170000, -0.174375, -0.160625, -0.165625, -0.168125, -0.171250, -0.178125, -0.195000
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 369.93
#*# min_y = 30.0
#*# max_y = 369.93
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.656
#*# pid_ki = 1.360
#*# pid_kd = 102.902
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 55.702
#*# pid_ki = 3.316
#*# pid_kd = 233.950
