[gcode_macro PARK_extruder]
gcode:
    SAVE_GCODE_STATE NAME=park0
    G91 #
    G0 Z.2 #
    G90
    G1 Y-15 f30000
    G1 Y-17 F1200
#    RESTORE_GCODE_STATE NAME=park0
    G91 #
    G0 Z-.2 #
    G90 #


[gcode_macro PARK_extruder1]
gcode:
    SAVE_GCODE_STATE NAME=park1
    G91 #
    G0 Z.2 #
    G90
    ; G1 Y655 F30000   #BMG-M
    ; G1 Y659.25 F1200   #BMG-M    
    G1 Y648 F30000   #LGX
    G1 Y651.25 F1200   #LGX
#    RESTORE_GCODE_STATE NAME=park1
    G91 #
    G0 Z-.2 #
    G90 #

[gcode_macro T0]
gcode:
    PARK_{printer.toolhead.extruder}
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=0
    SET_GCODE_OFFSET X=0 Y=0 Z=0
    SET_GCODE_VARIABLE MACRO=FAN_VARIABLE VARIABLE=active_fan VALUE=0 ; For Primary Print Fan Control
    CARRIAGE_PRINT_FAN 

[gcode_macro T1]
gcode:
    PARK_{printer.toolhead.extruder}
    ACTIVATE_EXTRUDER EXTRUDER=extruder1
    SET_DUAL_CARRIAGE CARRIAGE=1 
    ; SET_GCODE_OFFSET  X=0.0 Y=0.0 Z=0.0
    ; SET_GCODE_OFFSET  X=-0.25 Y=-0.30 Z=0.18    ;BMG-M HE20
    ; SET_GCODE_OFFSET  X=0.3 Y=0.0 Z=-0.1    ;LGX HE50 with Brass Nozzle
    ; SET_GCODE_OFFSET  X=0.3 Y=0.0 Z=-0.0    ;LGX HE50 with Spacer & Tungsten Nozzle
          ; ******** Smaller Z number lowers Secondary tool ******** 
    ; SET_GCODE_OFFSET  X=0.3 Y=0.0 Z=-0.15    ;LGX HE50 with Brass Nozzle
    SET_GCODE_OFFSET  X=-0 Y=-0.75 Z=-0.04    ;LGX HE50 with Brass Nozzle
    SET_GCODE_VARIABLE MACRO=FAN_VARIABLE VARIABLE=active_fan VALUE=1 ; For Secondary Print Fan Control
    CARRIAGE_PRINT_FAN
